body{

    background-color:maroon;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

h1{

    color:black;
    text-align: center;
    font-weight: bold;
}

h2{
    color:black;
    text-align: left;
    font-style: italic;
    text-decoration: underline;
}


.common{
    background-color: antiquewhite;
    border: 2px solid white;
    position: absolute;
}

.header{
    top: 5px;
    left: 15px;
    right: 25px;
    height: 100px;
}

.left{
    top: 115px;
    left: 15px;
    width: 100px;
    bottom: 40px;
}


.right{
    top: 115px;
    right: 25px;
    width: 100px;
    bottom: 40px;

}


.main{
top: 115px;
left: 130px;
right: 140px;
height: fit-content;

}

.footer{
bottom: 5px;
height: 25px;
left: 15px;
right: 25px;
position:fixed;
z-index: 1;
}